# Day 7- Loops

### 1. While

In [1]:
i=0
while i**2<100:
    print(i, i**2)
    i+=1

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [2]:
i=1
j=10
while (i<j):
    print(i, j)
    i*=2
    j+=10

1 10
2 20
4 30
8 40
16 50
32 60
64 70

#### El mínimo número de la máquina

In [3]:
def min_maquina():
    x_0=1
    x_1=x_0/2
    while x_1>0:
        x_0=x_1
        x_1=x_0/2
    print(x_0)

In [4]:
min_maquina()

5e-324

### 2. For

### Suma de los n primeros naturales

In [5]:
suma=0
n=50
for i in range(0,n+1):
    suma+=i
print(suma)

1275

In [6]:
def revision_suma(n):
    return n*(n+1)/2

In [7]:
revision_suma(50)

1275.0

### Raíz cuadrada de un número real positivo

In [8]:
def valor_absoluto(n):
    if n>0:
        return n
    else: return -n

In [9]:
def raiz_cuadrada(a):
    x_0=a
    x_1=0.5*(x_0+a/x_0)
    while valor_absoluto(x_1-x_0)>0.000001:
        x_0=x_1
        x_1=0.5*(x_0+a/x_0)
    print(x_0)

In [10]:
raiz_cuadrada(2)

1.4142135623746899

In [11]:
import math
math.sqrt(2)

1.4142135623730951

In [12]:
(2.5+(4/2.5))/2

2.05

#### El factorial de un número con ciclos y con funciones recursivas

In [13]:
def fact_recursivo(n):
    if n==1:
        return 1
    else: return fact_recursivo(n-1)*n

In [14]:
fact_recursivo(4)

24

In [15]:
def fact_loop(n):
    i=1
    factorial=1
    while n>=i:
        factorial*=i
        i+=1
    print(factorial)

In [16]:
fact_loop(4)

24

Imprimir un listado con los números del 1 al 100 cada uno con su respectivo cuadrado.

In [17]:
a=1
b=100
for i in range(a,b+1):
    print(i, i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024
33 1089
34 1156
35 1225
36 1296
37 1369
38 1444
39 1521
40 1600
41 1681
42 1764
43 1849
44 1936
45 2025
46 2116
47 2209
48 2304
49 2401
50 2500
51 2601
52 2704
53 2809
54 2916
55 3025
56 3136
57 3249
58 3364
59 3481
60 3600
61 3721
62 3844
63 3969
64 4096
65 4225
66 4356
67 4489
68 4624
69 4761
70 4900
71 5041
72 5184
73 5329
74 5476
75 5625
76 5776
77 5929
78 6084
79 6241
80 6400
81 6561
82 6724
83 6889
84 7056
85 7225
86 7396
87 7569
88 7744
89 7921
90 8100
91 8281
92 8464
93 8649
94 8836
95 9025
96 9216
97 9409
98 9604
99 9801
100 10000

Imprimir un listado con los números impares desde 1 hasta 99 y seguidamente otro
listado con los números pares desde 2 hasta 100.

In [18]:
n=1
impar=2*n-1
par=2*n
while impar<=99:
    print(impar, par)
    n+=1
    impar=2*n-1
    par=2*n

1 2
3 4
5 6
7 8
9 10
11 12
13 14
15 16
17 18
19 20
21 22
23 24
25 26
27 28
29 30
31 32
33 34
35 36
37 38
39 40
41 42
43 44
45 46
47 48
49 50
51 52
53 54
55 56
57 58
59 60
61 62
63 64
65 66
67 68
69 70
71 72
73 74
75 76
77 78
79 80
81 82
83 84
85 86
87 88
89 90
91 92
93 94
95 96
97 98
99 100

Imprimir los números pares en forma descendente hasta 2 que son menores o iguales
a un número natural n  dado.

In [19]:
n=10
while n>=2:
    print(n)
    n=n-2

10
8
6
4
2

Imprimir los 50 primeros números de Fibonacci. Recuerde que un número de Fibonacci
se calcula como la suma de los dos anteriores : 0; 1; 1; 2; 3; 5; 8; 13.